{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 style="text-align: center; color: #3081fa">CYTIES, Ciencia y Tecnología que crea el Desarrollo</h2>
              <hr class="divider my-4">
              <p class="lead" style="text-align: justify">Somos una empresa especializada en materia de investigación en Economía Aplicada al
                  Desarrollo, la Innovación y el Comercio Internacional que crea y gestiona conocimiento “Útil” para
                  la planificación, productividad y competitividad de nuestros clientes conforme ampliar el rango de
                  opciones de crecimiento económico y desarrollo sustentable.</p>
                  <p class="lead" style="text-align: justify">Desde el 2006 a la fecha, CYTIES ha realizado investigación aplicada en los más diversos ámbitos
                  de la economía y la sociedad, con el sello distintivo de la aplicación de sus servicios; esto con la
                  finalidad de “generar capacidades en las personas, las empresas, las instituciones, los sectores
                  económicos y los territorios que amplíen las oportunidades, la competitividad sistémica y el
                  desarrollo sustentable”.</p>
                  <br>
                  <img class="img-fluid rounded mx-auto d-block" alt="Responsive image" src="/static/img/imagen1.JPG"> 
                  <br>
            </div>
          </div>
        </div>
      </section>
      <section id="visionestrategica">
          <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h2 style="text-align: center; color: #3081fa">Visi&oacute;n Estrategica</h2>
                  <hr class="divider my-4">
                  <p class="lead" style="text-align: justify">Nuestra empresa será reconocida como la principal fuente de información y gestión del conocimiento aplicado a la Innovación, el desarrollo de los Negocios y el Comercio Internacional 
                    del Norte de Chile y los Estados Subnacionales de los países miembros de la ZICOSUR.</p>
                <br>
                </div>
              </div>
            </div>
      </section>
    




{% endblock content %}