{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<section id="centros">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 style="text-align: center; color: #3081fa" >Centros y Laboratorios</h2>
              <hr class="divider my-4">
              <p class="lead" style="text-align: justify">Como corolario de la gestión internacional, CYTIES dispone del Centro de Inteligencia de Negocios 
                Internacionales ZICOSUR – Asia Pacífico el que además cuenta con el NODO Exportador para las
                 PYMES y el Laboratorio Interactivo de Innovación & Ciencias Empresariales.</p>
                 <br>
                 <img src="/media/static/zicosur.png" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
                <br>
                 <p class="lead" style="text-align: justify">Esto constituye a CYTIES en una empresa de base tecnológica, configurando una
                    ventaja competitiva sostenible en la agregación de valor a los procesos de investigación, 
                    oportunidades de negocios, comercio exterior, modelamiento de negocios internacionales
                     y la gestión integral de proyectos a partir del análisis estadístico de Metadatas de 
                     las economías de 23 países a las que aplicando la metodología de Bussiness Intelligence,
                      permite la elaboración de Macro Proyectos de Inversión, Atracción de Inversiones, 
                      Joint Venture, Franquicias, Licenciamientos y desarrollo de Patentes mediante procesos 
                      de Innovación Secuencial, Disruptiva e Inversa.</p>
                <p class="lead" style="text-align: justify">Lo anterior, ha conllevado dos importantes hitos en la gestión empresarial el año 2017.
                 La firma del Convenio Marco de Cooperación Internacional con la Asociación Comercial e Industrial
                  de Campo Grande MS Brasil, ACICG y, el Premio “Mejor PYME: Mejores Negocios”, entregado por la 
                  Corporación de Fomento de la Producción, CORFO. Ambos hitos, proveen las bases de la gestión a 
                  desarrollar en el periodo 2018 – 2022, estructurando el conjunto de servicios que le invitamos 
                  a conocer en este Book corporativo.</p>
                  <br>
                 <img src="/media/static/LOGO-CYTIES-RETOQUES-MAYO PNG.png" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
                <br>
                <br>
            </div>
          </div>
        </div>
      </section>     
{% endblock content %}