{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<br>
<br>
<br>
<br>
<!-- Services Section -->
<section class="page-section" id="services">
    <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="text-align: center; color: #3081fa">Servicios</h2>
          <p class="lead" style="text-align: justify"> Los servicios comprenden el diseño y la realizaci&oacute;n completa de estudios, asesor&iacute;as, 
              consultor&iacute;as y procesos de formaci&oacute;n, capacitaci&oacute;n y perfeccionamiento, adem&aacute;s de una alta 
              capacidad en la formulaci&oacute;n, implementaci&oacute;n y gesti&oacute;n integral de proyectos y en la gesti&oacute;n 
              de negocios internacionales en los m&aacute;s diversos &aacute;mbitos y &aacute;reas del conocimiento</p>
        </div>
      </div>
      <hr class="divider my-4">
      <div class="container">
          <h2 class="text-center mt-0" style="color: #3081fa">Servicios destacados</h2>
          <hr class="divider my-4">
          <div class="row">
            <div class="col-lg-4 col-md-9 text-center">
              <div class="mt-5">
                  <img src="/media/static/IMAGEN SERVICIO DE INVESTIGACION APLICADA AZUL.png" class="img-fluid" alt="Responsive image">
                <h3 class="h4 mb-2">Investigaci&oacute;n Aplicada Multim&eacute;todo</h3>
                <p class="text-muted mb-0">Ofrecemos un servicio de gesti&oacute;n del conocimiento para la creaci&oacute;n y sistematizaci&oacute;n de 
                  datos que generen informaci&oacute;n para la toma de decisiones del sector empresarial y del sector p&uacute;blico. Actualmente 
                  contamos con bases de datos del comercio exterior de 23 pa&iacute;ses, lo que nos permite disponer una Miner&iacute;a de Datos 
                  (Data Warehouse y Big Data) procesados mediante una Estrategia de Business Intelligence.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-9 text-center">
              <div class="mt-5">
                  <img src="/media/static/internacional.png" class="img-fluid" alt="Responsive image">
                <h3 class="h4 mb-2" >Gesti&oacute;n de Negocios Internacionales</h3>
                <p class="text-muted mb-0">Desde la prospecci&oacute;n de los mercados a la determinaci&oacute;n de productos y/o servicios, 
                  incluyendo la mercadotecnia y la log&iacute;stica asociada y, la internacionalizaci&oacute;n de las empresas (PYMES) y su 
                  participaci&oacute;n en las amplias opciones de los negocios internacionales según su potencial y capacidad.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-9 text-center">
              <div class="mt-5">
                  <img src="/media/static/IMAGEN SERVICIO DE GESTION INTEGRAL.png" class="img-fluid" alt="Responsive image">
                <h3 class="h4 mb-2">Gestión Integral de Proyectos.</h3>
                <p class="text-muted mb-0" >Individuales y/o asociativos de tipo productivo, comercial, de infraestructura,
                   tecnología e innovación mediante la metodología Project Management.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-9 text-center">
              <div class="mt-5">
                  <img src="/media/static/IMAGEN SERVICIO DE ASISTENCIA TECNICA.png" class="img-fluid" alt="Responsive image">
                <h3 class="h4 mb-2">Asistencia Técnica.</h3>
                <p class="text-muted mb-0">En materias especializadas a la planificación, la internacionalización empresarial, el diseño de 
                  la oferta exportable, la conformación de consorcios exportadores, misiones comerciales, ruedas de negocios,
                   sistemas de seguimiento y evaluación. Es decir, abordar todo lo relativo a la cadena de valor productivo de las 
                   empresas y al diseño de instrumentos de planificación desde el sector público.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-9 text-center">
                <div class="mt-5">
                    <img src="/media/static/IMAGEN SERVICIO DE CAPACITACION AZUL.png" class="img-fluid" alt="Responsive image">
                  <h3 class="h4 mb-2">Formación, Capacitación y Perfeccionamiento</h3>
                  <p class="text-muted mb-0">Focalizada en el capital humano gerencial de las empresas y de los ejecutivos
                     de negocios. Para ello disponemos del Laboratorio Interactivo de Innovación y Ciencias Empresariales 
                     que cuenta con equipos tecnológicos y softwares de última generación para dar respuestas a las más 
                     altas exigencias de los estándares internacionales de la industria.</p>
                </div>
              </div>
          </div>
        </div>
      </section>

{% endblock content %}